<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypasswords">

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_key"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smart_key"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/lightTheme">
        <activity android:name=".ActivitiesControllers.splach" android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesControllers.AddnewSiteData"
            android:label="@string/addNewSiteLabel" />
        <activity android:name=".ActivitiesControllers.MainActivity"></activity>
    </application>

</manifest>